<h1>Education & Certification</h1>
<hr/>
<ul>
  <li>
    <h2>Education</h2>
    <h3>National University of Water and Environmental Engineering, Ukraine</h3>
    <p>Master's degree in Applied Mathematics</p>
  </li>
  <li>
    <h2>Certification</h2>
    <ul>
      <li>
        <h3>GoIT, Ukraine</h3>
        <p>Full Stack Developer, (FS_7863)</p>
      </li>
      <li>
        <h3>Udemy, Online training</h3>
        <p>React and Typescript, (UC-1e6TM1381-2667-49da9807-3992345c614e)</p>
      </li>
      <li>
        <h3>Certificate of achievment</h3>
        <img src="" alt="Frontend Champion">
        <p>International Women’s Day Hackathon <br/> Hacking Global Injustices: build confidence, end sexism. March 2024</p>
      </li>
      <li>
        <h3>Udemy, Online training</h3>
        <p>The Complete 2024 Web Development Bootcamp</p>
      </li>
    </ul>
  </li>
</ul>
