<h1>Work experience</h1>
<hr/>
<ul>
  <li>
    <h2>Volunteer</h2>
    <h3>Spring ACT</h3>
    <h4>January 2024 - Present</h4>
    <p>Taking part in projects that use new technologies to solve big social problems. Helping create and put into action plans that make human rights stronger and reduce unfairness in society.</p>
  </li>
  <li>
   <h2>Frontend Developer</h2>
    <h3>Team Challenge, Ukraine</h3>
    <h4>June 2023 - December 2023</h4>
    <p>Collaborated with designers and backend developers to create responsive interfaces.Developed reusable React components for efficient code. Implementing key frontend functionalities. Active in code reviews, providing valuable feedback. Successful track record of on-time project delivery.</p>
  </li>
  <li>
    <h2>Frontend Developer</h2>
    <h3>GoIT Project GoIT, Ukraine</h3>
    <h4>February 2021 - February 2022</h4>
    <p>Worked as a front-end developer, contributing to the development of search events and smart finance web applications. I implemented front-end functionalities using HTML, CSS, and JavaScript, with a focus on React. Active participation in code reviews, providing valuable insights for code quality.</p>
  </li>
  <li>
    <h2>Interior Designer</h2>
    <h3>Self-Employed, Lviv, Ukraine</h3>
    <h4>November 2018 - February 2022</h4>
    <p>Specializing in salon, wedding dress boutique, and residential interior design. Responsibilities include developing creative designs, collaborating with clients, leading the design process,providing construction support, and managing projects within timelines and budgets.</p>
  </li>
</ul>
