<h1>Projects</h1>
<hr/>
<ul>
  <li id="project-1">
    <a href="https://andriihoi.github.io/Project-HTML-CSS/">
      <h2>Donuts Masterclass</h2>
      <img src="" alt="Donuts Masterclass">
    </a>
  </li>
  <li id="project-2">
    <a href="https://vpoklad.github.io/js-project-magic8-united/">
      <h2>Event booster</h2>
      <img src="" alt="Event booster">
    </a>
  </li>
  <li id="project-3">
    <a href="https://magic8-kapusta.netlify.app/login">
      <h2>Kapusta smart finance</h2>
      <img src="" alt="Kapusta smart finance">
    </a>
  </li>
  <li id="project-4">
    <a href="https://store-challenge.github.io/store-app/">
      <h2>Mega Store</h2>
      <img src="" alt="Mega Store">
    </a>
  </li>
</ul>
