<h1>Skills</h1>
<hr/>

<!-- Tech Skills -->
<div>
  <h2>Tech Skills</h2>
  
  <ul>
    <li>
      <h3>Frontend Technologies</h3>
      <ul>
        <li>
          <p>HTML5</p>
        </li>
        <li>
          <p>CSS (SCSS, SASS)</p>
        </li>
        <li>
          <p>JavaScript ES6+</p>
        </li>
        <li>
          <p>TypeScript</p>
        </li>
        <li>
          <p>React</p>
        </li>
        <li>
          <p>React Native</p>
        </li>
        <li>
          <p>Redux Hooks / Redux Thunks</p>
        </li>
        <li>
          <p>Handlebars</p>
        </li>
        <li>
          <p>Material UI</p>
        </li>
        <li>
          <p>Bootstrap-5</p>
        </li>
      </ul>
    </li>
  
    <li>
      <h3>Backend Technologies:</h3>
      <ul>
        <li>
          <p>Node.js</p>  
        </li>
        <li>
          <p>Express.js</p>  
        </li>
        <li>
          <p>EJS</p>  
        </li>
        <li>
          <p>API</p>
        </li>
        <li>
          <p>REST API</p>
        </li>
        <li>
          <p>Axios</p>
        </li>
        <li>
          <p>MongoBD</p>
        </li>
        <li>
          <p>PostgreSQL(SQL)</p>
        </li>
      </ul>
    </li>

    <li>
      <h3>Development Tools & Environments</h3>
      <ul>
        <li>
          <p>Figma</p>
        </li>
        <li>
          <p>Trello</p>
        </li>
        <li>
          <p>Miro</p>
        </li>
        <li>
          <p>Jira</p>
        </li>
        <li>
          <p>Postman</p>
        </li>
        <li>
          <p>NPM</p>
        </li>
        <li>
          <p>Git</p>
        </li>
        <li>
          <p>GitHub</p>
        </li>
        <li>
          <p>Babel</p>
        </li>
        <li>
          <p>Webpack</p>
        </li>
        <li>
          <p>Parcel</p>
        </li>
      </ul>
    </li>

    <li>
      <h3>Authentication & Authorization</h3>
      <ul>
        <li>
          <p>OAuth</p>
        </li>
        <li>
          <p>Auth0</p>
        </li>
      </ul>
    </li>
  </ul>
</div>

<!-- Soft Skills -->
<div>
  <h2>Soft Skills</h2>
  
  <ul>
    <li>
      <h3>Effective communication</h3>
    </li>
    
    <li>
      <h3>Teamwork</h3>
    </li>
    
    <li>
      <h3>Problem-solving</h3>
    </li>
    
    <li>
      <h3>Adaptability</h3>
    </li>
    
    <li>
      <h3>Bilingual</h3>
        <ul>
          <li>
            <p>UK</p>
          </li>
          <li>
            <p>UA</p>
          </li>
          <li>
            <p>PL</p>
          </li>
        </ul>
    </li>
  </ul>
</div>           